<div class="repo-form col-md-12" ng-controller="RepoFormCtrl">
  <form novalidate>
    <label for="repository">Repository:</label>
    <input id="repository" type="text" ng-model="repo.url" size="80" placeholder="https://github.com/username/project">
    <label for="job_type">Job Type:</label>
    <select id="job_type" ng-model="repo.job_type">
      <option value="build">build</option>
      <option value="echo">echo</option>
      <option value="clang-format">clang-format</option>
      <option value="clang-modernize">clang-modernize</option>
      <option value="clang-tidy">clang-tidy</option>
    </select>
    <div ng-show="job.id" class="ng-hide">Job Id: {{job.id}}</div>
    <div ng-show="job.events" class="ng-hide">Build Events:
      <table>
        <tr>
          <th>Time</th>
          <th>Action</th>
        </tr>
        <tr ng-repeat="evt in job.events">
          <td>{{evt.datetime}}</td>
          <td>{{evt.action}}</td></tr>
      </table>
    </div>
    <input ng-show="!job.id" id="submit-button" type="submit" value="Submit Request" ng-click="submit()">
  </form>
</div>
